* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  margin: .5em 0;
}

h2 {
  margin-bottom: 1em;
  position: relative;
}

h2 div {
  font-size: 40%;
  position: absolute;
  margin-left: 5px;
  text-align: center;
  display: inline;
  top: -20px;
  width: 35px;
  height: 35px;
  background-color: rgb(228, 134, 46);
  border-radius: 50%;
}

h2 span {
  color: #fff;
  margin-top: .65em;
  display: block;
}

img.hero {
  height: 300px;
  max-width: 90%;
}

footer {
  position: absolute;
  height: 20px;
  bottom: 20px;
  left: 0;
  right: 0;
  font-size: .85rem; 
}

footer span {
  color: #e25555;
}
