* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 16px;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin: .5em 0 1em 0;
}

h2 {
  margin-bottom: 1em;
  position: relative;
  display: inline;
  font-size: 1.2rem;
}

div {
  position: relative;
}

h2 div {
  position: absolute;
  margin-left: 5px;
  text-align: center;
  display: inline;
  right: -25px;
  top: -25px;
  width: 34px;
  height: 34px;
  background-color: rgb(228, 134, 46);
  border-radius: 50%;
  display: flex;
  align-items: center;
}

h2 span {
  font-size: 50%;
  color: #fff;
  display: block;
}

img.hero {
  margin-top: 1em;
  height: 300px;
  max-width: 90%;
}

footer {
  position: absolute;
  height: 20px;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: .85rem; 
}

footer span {
  color: #e25555;
}
